/* abstracts */
/* Font Family */
/* base */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  background-color: #d6e2f0;
  font-family: "Outfit", sans-serif;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center; }

/* layout */
.attribution {
  font-size: 15px;
  text-align: center; }
  .attribution a {
    color: #3e52a3; }

/* components */
.card {
  background-color: white;
  width: 320px;
  height: 500px;
  margin: 60px auto;
  border-radius: 18px;
  padding: 18px; }
  .card__img {
    width: 100%;
    border-radius: 15px; }
  .card__title {
    color: #1f3251;
    font-size: 25px;
    text-align: center;
    margin-bottom: 25px; }
  .card__paragraph {
    color: #7b879d;
    text-align: center; }
